<div class="notely {{style}}">
    <h1>{{title}}</h1>
    <form action='/note/new' method='get' id="btn-new-note">
        <input type="submit" value="create new note">
    </form>
    <form action='/' method='get' class="btn-sort">
        <input type="hidden" name="sort" value="duedate">
        <input type="submit" value="By finish date" {{#if_eq sortBy 'duedate'}} class="btn-focus"{{/if_eq}}>
    </form>
    <form action='/' method='get' class="btn-sort">
        <input type="hidden" name="sort" value="createdate">
        <input type="submit" value="By created date" {{#if_eq sortBy 'createdate'}} class="btn-focus"{{/if_eq}}>
    </form>
    <form action='/' method='get' class="btn-sort">
        <input type="hidden" name="sort" value="importance">
        <input type="submit" value="By importance" {{#if_eq sortBy 'importance'}} class="btn-focus"{{/if_eq}}>
    </form>
    <form action='/' method='get' class="btn-sort">
        <input type="hidden" name="style" value="{{#if_eq style 'light'}}dark{{else}}light{{/if_eq}}">
        <input type="submit" value="switch style">
    </form>


    {{#each notes}}
        {{> note this }}
{{/each}}
</div>