<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notely</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="{{getStyle}}">
    <header><h1><a href="/">notely</a></h1></header>
    {{{body}}}
  </body>
</html>
