body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

body.dark
  background: lightgrey

nav
  display: flex
  justify-content: space-between

aside
  margin-top: 10px
  display: flex
  justify-content: space-between
  flex-direction: column

  div.btn-sort
    display: flex
    flex-direction: column
    align-items: stretch
    > form
      display: inline-block
      input
        width: 100%

  #btn-hide-finished > input
    width: 100%

@media screen and (min-width: 700px)
  aside
    flex-direction: row
    div.btn-sort
      flex-direction: row

article
  padding-bottom: 10px
  *
    vertical-align: middle
  textarea
    border-radius: 18px
    padding-left: 18px
    padding-right: 18px
    padding-top: 10px
    margin-right: 10px
    box-sizing: border-box
    background-color: #fff
  form
    display: inline
    //input
    //  width: 12%
    //  height: 45px

.empty-list
    background: #D7EBF3
    padding: 15px
    margin-top: 5px
    border-radius: 7px

.btn-focus
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.4)
  background: #fff
  padding: 5px

.edit-note
  *
    vertical-align: middle
  label
    width: 9%
    display: inline-block
  input:not([type="checkbox"]):not([type="submit"]), textarea
    width: 90%
  label, input, textarea
    margin-bottom: 20px