body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  max-width: 1024px
  box-sizing: inherit
  margin: 0 auto
*
  box-sizing: border-box

body.dark
  background: black
  color: white
  textarea.ro-description
    background: darkblue
    color: white
  input[type="submit"]
    background: darkblue
    color: white
  input[type="submit"]:hover
    background: lightblue
  input[type="submit"].btn-focus, input[type="submit"]:active
    box-shadow: inset -2px 4px 10px 0px #cfcfcf
    background: lightblue

nav
  display: flex
  justify-content: space-between

textarea
  padding: 10px
  background-color: #fff

aside
  margin-top: 10px
  display: flex
  justify-content: space-between
  flex-direction: column

  div.btn-sort
    display: flex
    flex-direction: column
    align-items: stretch
    > form
      display: inline-block
      input
        width: 100%

  #btn-hide-finished > input
    width: 100%

main
  article
    display: flex
    flex-direction: column
    border: 1px dashed darkgray
    padding: 10px
    margin-top: 20px
  header
    display: flex
    flex-flow: row wrap
    .timeLeft
      flex: 2 0 auto
    .importance
      flex-shrink: 0
      margin-left: auto
    .title
      flex: 1 1 auto
  label
    font-weight: bold
  form > input
    width: 20%
    margin-left: 10px

div.edit-note > form
  display: flex
  flex-direction: column
  label:not(#finished)
    display: inline-block
    font-weight: bold
  input:not([type="checkbox"]):not([type="submit"]), textarea
    width: 100%
  input, textarea
    margin-bottom: 20px


@media screen and (min-width: 480px)
  article > header
    flex-wrap: nowrap
    .title
      order: 2
      flex: 1 2 auto
      margin-left: 10px
    .importance
      order: 3
    .timeLeft
      flex-grow: 0

@media screen and (min-width: 768px)
  main > article
    flex-flow: row wrap
    border: none
    header
      flex: 1 100%
      flex-wrap: nowrap
      .timeLeft
        flex: 0 0 150px
      .importance
        margin-right: 150px
    label, form
      flex: 0 150px
    textarea
      flex: 1 auto
    form > input
      width: 100%
      height: 100%
  aside
    flex-direction: row
    div.btn-sort
      flex-direction: row

  div.edit-note > form
    flex-flow: row wrap
    input:not([type="checkbox"]):not([type="submit"]), textarea
      flex: 1 1 80%
      width: auto
    label
      flex: 0 20%
    label#finished
      flex: 0 100%
      margin-left: 20%
    input[type="submit"]
      margin-right: 15px
    input[value="Save"], input[value="Create"]
      margin-left: 20%

.empty-list
    background: #D7EBF3
    padding: 15px
    margin-top: 5px
    border-radius: 7px

input[type="submit"]
  border: 1px solid grey
  border-radius: 5px
  text-align: center
  text-decoration: none
  padding: 5px 20px
  background: white

input[type="submit"]:hover
  background: #f0f0f0

input[type="submit"].btn-focus, input[type="submit"]:active
  box-shadow: inset -2px 4px 10px 0px #cfcfcf
  background: #f0f0f0