body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin: 0

.notely
  padding: 50px

.notely.dark
  background: lightgrey;

a
  color: #00B7FF

.short-note
  width: 53%
  padding-bottom: 10px
  *
    vertical-align: middle
  textarea
    width: 67%
    height: 80px
    border-radius: 18px
    padding-left: 18px
    padding-right: 18px
    padding-top: 10px
    margin-right: 10px
    box-sizing: border-box
    background-color: #fff
  form
    display: inline
    input
      width: 12%
      height: 45px


.btn-focus
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.4)
  background: #fff
  padding: 5px

.edit-note
  *
    vertical-align: middle
  label
    width: 9%
    display: inline-block
  input:not([type="checkbox"]):not([type="submit"]), textarea
    width: 90%
  label, input, textarea
    margin-bottom: 20px